@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;

input[type='text'],
input[type='search'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'] {
  @apply rounded-md border-[1.4px] border-zinc-500 px-2 py-1 ring-inset placeholder:text-zinc-500 hover:border-blue-500 focus:border-blue-500 focus:outline-none focus:ring-[1.4px] focus:ring-blue-500;
}

input[type='time'],
input[type='date'],
input[type='week'],
input[type='month'],
select {
  @apply rounded-md border-[1.4px] border-zinc-500 px-2 py-1 placeholder:text-zinc-500 hover:border-blue-500 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200;
}

input[type='reset'],
input[type='submit'],
input[type='button'],
button[type='submit'] {
  @apply w-fit cursor-pointer rounded-md bg-blue-600 px-3 py-1 text-center text-white hover:bg-blue-600/90;
}

button {
  @apply cursor-pointer rounded-md bg-blue-600 px-3 py-1 text-center text-white hover:bg-blue-600/90;
}

/* This is styles for useState Dark Mode */
/* start */
.button-dark {
  @apply rounded-md border border-zinc-500 bg-zinc-700 px-4 py-1 text-white hover:bg-zinc-800;
}

.button-light {
  @apply rounded-md border border-zinc-300 bg-white px-4 py-1 text-zinc-700 shadow hover:bg-zinc-50;
}

.panel-dark {
  @apply bg-zinc-800 text-white;
}

.panel-light {
  @apply bg-white text-zinc-700;
}
/* start */

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: auto;
  scroll-padding-top: 100px;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
